.menu-dropdown{
    position: fixed;
    top: 20px;
    z-index: 3;
    width: 95%;
    padding: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background-color:#2bb58e;
    color: white;
    transition: 1s ease-in;

    .menu-dropdown-list{
        font-size: larger;
        margin-bottom: 20px;
        margin-left: 20px;
        font-weight: 700;
    }
    .menu-close{
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: larger;
        font-weight: 900;
        cursor: pointer;
    }
}

@media (min-width: 800px){
    .menu-dropdown{
        display: none;
    }
}