.single-feature{
	background:#fff;
	margin-top:30px;
}
.feature-head{
	position:relative;
	overflow:hidden;
}
.single-feature img{
    width:100%;
    transition: .5s ease-out;
}
.single-feature img:hover{
	transform:scale(1.2) rotate(5deg);
}
.single-feature h2 {
	font-size: 20px;
	margin: 15px 0;
}