/*=============================
	Footer CSS
===============================*/
.footer {
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	padding: 0;
}
.footer::before {
	opacity: 0.9;
}
.footer a,
.footer p{
	color:#eee;
	font-weight:400;
}
.footer .footer-top {
	padding: 60px 0 90px;
}
.footer .single-widget{
	margin-top:30px;
}
.footer .single-widget h2 {
	font-size: 20px;
	margin-bottom: 20px;
	padding-bottom: 16px;
	color: #fff;
	position: relative;
}
.footer .single-widget h2:before{
	position:absolute;
	bottom:-1px;
	left:0;
	content:"";
	width:50px;
	height:2px;
}
.footer .about p {
	margin-top: 20px;
}
.footer .list{
	margin-top:20px;
}
.footer .list li {
	line-height: 30px;
	color: #fff;
}
.footer .list li a{
	color:#fff;
}
.footer .list li i {
	margin-right: 15px;
}
.footer .useful-links ul li {
	position: relative;
	line-height: 36px;
}
.footer .useful-links ul li a {
	color: #fff;
	font-size: 15px;
}
.footer .useful-links ul li i{
	margin-right:10px;
}

.footer .newsletter .title{
	font-size:26px;
	font-weight:600;
	color:#fff;
}
.footer .newsletter .form{
	position:relative;
	margin-top:20px;
}
.footer .newsletter .form input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #2c2c2c;
	box-shadow: none;
	text-shadow: none;
	border: none;
	padding: 0px 50px 0px 20px;
	font-size: 16px;
	border-radius: 0px;
}
.footer .newsletter .button {
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 50px;
	color: #fff;
	box-shadow: none;
	font-size: 20px;
	text-shadow: none;
	border: none;
	border-radius: 0px;
	border-left:1px solid transparent;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.footer .newsletter .button:hover{
	background:#fff;
	border-left-color:#e7e7e7;
	color:#252525;
}
.footer .bottom-head {
	padding: 20px 0;
	border-top: 1px solid rgba(231, 231, 231, 0.25);
}
.footer .social {
	text-align: center;
}
.footer .social li {
	display: inline-block;
	margin-right: 5px;
}
.footer .social li:last-child{
	margin:0;
}
.footer .social li a {
	display: block;
	height: 34px;
	width: 34px;
	line-height: 37px;
	background: rgba(69, 69, 69, 0.5);
	text-align: center;
	margin: 0;
	padding: 0;
	border-radius: 100%;
	color: #fff;
}
.footer .social li a:hover{
	background:#fff;
}
.footer .copyright {
	text-align: center;
	margin-top: 15px;
}
.footer .copyright p {
	font-size: 15px;
	color: #fff;
	text-transform: capitalize;
}
.footer .copyright a:hover{
	color:#fff;
}

.footer-overlay{
	position:relative
}
.footer-overlay::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background: #000;
	content: "";
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
/*=============================
	End Footer CSS
===============================*/