.nav-list-item{
    font-weight: 700;
    font-size: 20px;
    padding: 14px 16px;
    list-style: none;
    text-decoration: none;
    color: #2bb58e;
    border-bottom: 3px solid transparent;
    transition: .3s ease-in;

    &:hover{
        border-bottom: 3px solid  #2bb58e;
        color: inherit;
        text-decoration: none;
    }
    &:visited{
        color: inherit;
    }

    &:active{
        color: inherit;
    }
}