/*=============================
	Teachers CSS
===============================*/
.team {
	padding:60px 0 90px;
}



// /* Teacher Single */
// .team-details{
// 	padding: 60px 0 90px;
// }
// .team-details .member-detail,
// .team-details .detail-content{
// 	margin-top:30px;
// }
// .team-details .member-detail{
// 	text-align:center;
// }
// .team-details .member-detail img{
// 	width:100%;
// }
// .team-details .member-detail .social {
// 	margin-top: 20px;
// }
// .team-details .member-detail .social li{
// 	display:inline-block;
// }
// .team-details .member-detail .social li:last-child{
// 	margin-right:0px;
// }
// .team-details .member-detail .social li a {
// 	height: 35px;
// 	width: 35px;
// 	line-height: 35px;
// 	text-align: center;
// 	background: #252525;
// 	color: #fff;
// 	display: block;
// 	border-radius: 100%;
// }
// .team-details .address {
// 	margin-top: 10px;
// }
// .team-details .address li{}
// .team-details .address li a {
// 	color: #252525;
// }
// .team-details .address li i {
// 	margin-right:10px;
// }
// .team-details .detail-content h2{
// 	font-size:32px;
// }
// .team-details .detail-content .title {
// 	font-size: 16px;
// 	margin: 0;
// }
// .team-details .detail-content p {
// 	margin-top: 30px;
// }
// .team-details .detail-content .signature{
// 	margin-top:50px;
// }
// /* Skill */
// .team-details .single-progress {
// 	margin-top: 15px;
// }
// .team-details .single-progress h4 {
// 	color: #252525;
// 	font-size: 15px;
// 	margin-bottom: 15px;
// }
// .team-details .single-progress p{
// 	margin-bottom:0px;
// }
// .team-details .progress {
// 	background: #f6f6f6;
// 	border-radius: 0px;
// 	border-radius: 30px 0 0 30px;
// 	height: 10px;
// 	overflow: visible;
// }
// .team-details .progress .progress-bar {
// 	border-radius: 30px;
// 	position: relative;
// }
// .team-details .progress .percent {
// 	border-radius: 30px;
// 	position: absolute;
// 	right: 0;
// 	top: -15px;
// 	padding: 5px;
// 	font-weight: 600;
// 	display: table-cell;
// }
/*=============================
	End Teachers CSS
===============================*/
