.single-team {
	position: relative;
	margin-top: 30px;
}
.single-team img{
	height:100%;
	width:100%;
	text-align:center;
}
.team-hover {
	position: absolute;
	left: 10px;
	top: 10px;
	padding: 75px 20px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
	bottom: 10px;
    right: 10px;
    background-color: #2bb58e;
}
.single-team:hover .team-hover,
.single-team.active .team-hover{
	transform:scale(1.0);
	opacity:1;
	visibility:visible;
}
.team-hover h4 {
	color: #fff;
	font-size: 20px;
}
.team-hover h4 span {
	display: block;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	margin-top: 5px;
}
.team-hover p {
	color: #fff;
	margin: 20px 0;
}
.team-hover .social{
	padding-bottom:42px;
}
.team-hover .social li {
	display: inline-block;
	margin-right: 10px;
}
.team-hover .social li:last-child{
	margin:0;
}
.team-hover .social li a{
	color:#fff;
	font-size:14px;
}
.team-hover .social li a:hover{
	opacity:0.6;
}