/*=============================
	Fun Facts CSS
===============================*/
.fun-facts{
	background:url('../../asset/images/cta-bg.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	position:relative;
	padding:100px 0 130px
}
.fun-facts::before {
	opacity: 0.9;
}
.fun-facts .single-fact {
	text-align: center;
	margin-top: 30px;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.fun-facts .single-fact:hover{
	-webkit-transform:translateY(-15px);
	-moz-transform:translateY(-15px);
	transform:translateY(-15px);
}
.fun-facts .single-fact i {
	font-size: 40px;
	color: #fff;
	margin-bottom: 30px;
}
.fun-facts .single-fact .number {
	color: #fff;
	font-weight: 700;
	font-size: 40px;
	margin-bottom: 15px;
	position: relative;
	display: block;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s eas;
}
.fun-facts .single-fact p {
	color: #eee;
	font-size: 15px;
}
/*=============================
	End Fun Facts CSS
===============================*/