nav{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15%;
    height: 80px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: white;

    .logo{
        img{
            height: 30px;
            cursor: pointer;
        }
    }

    .menu{
        display: none;
    }
    .nav-list{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        align-items: center !important;
    }
}

@media only screen and (max-width: 800px){
    

    nav{
        padding: 0 5px;
        height: 100px;

        .nav-list{
            display: none;
        }

        .menu{
            display: block;
        }
    }
}