@media only screen and (max-width: 800px){
    .carousel .slide {
        width: 0 !important;
        background: none;
        overflow: hidden;
    }

    .slider-img{
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat;
        width: auto !important;
        height: 80vh;
        overflow: hidden;
        position: relative;
    }
    
    .slide2-text-container{
        text-align: left !important;
    }
    .slide1-text-container{
        text-align: left !important;
    }

    .slide-text{
        letter-spacing: 1px;
        font-size: 1.5rem;
    }
}

.carousel .slide {
    background: none;
    overflow: hidden;
    margin-top: 80px;
}

.slide1-text-container{
    position: absolute;
    top: 50%;
    left: 10px;
    text-align: left;
    vertical-align: middle;
    transform: translateY(-50%);
    
}

.slide2-text-container{
    position: absolute;
    top: 50%;
    right: 10px;
    text-align: right;
    vertical-align: middle;
    transform: translateY(-50%);
    
}

.slide-text{
    z-index: 11;
    letter-spacing: 2px;
    line-height: normal;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    text-decoration: none;
    white-space: wrap;
}

.slide-text-secondary{
    white-space: wrap;
}




