/*===============================
    Call To Action CSS
=================================*/
.cta{
	background-image:url('../../asset/images/cta-bg.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
}
.cta .cta-inner {
	padding: 60px;
	width: 100%;
}
.cta .cta-inner:before{
	opacity:0.9;
}
.cta .text-content{
	z-index:3;
	position:relative;
}
.cta .cta-inner h2 {
	font-size: 30px;
	margin-bottom: 45px;
	color: #fff;
}
.cta .cta-inner p{
	font-size:16px;
	color:#fff;
}
.cta .cta-inner .button {
	margin-top: 45px;
}
.cta .cta-inner .btn{
	background:#fff;
	color:#252525;
	border:2px solid transparent;
}
.cta .cta-inner .btn:before{
	display:none;
}
.cta .cta-inner .btn:hover{
	border-color:#fff;
	background:transparent;
	color:#fff;
}

.overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background:  #2bb58e;
    content: "";
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/*=============================
	End Call To Action CSS
===============================*/
